wapiti_web/settings.py
.django-tailwind-cli/
.vscode/
css/
db.sqlite3
static/css/tailwind.css
.django_tailwind_cli/
scan_reports/
scanner/__pycache__/
scanner/migrations/__pycache__/
wapiti_web/__pycache__/